@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,800&display=swap');

:root {
    --primary-color: rgb(255, 205, 240);
    --primary-color-darker: rgb(247, 78, 196);
}

    {
    box-sizing: border-box;
    outline: none;

}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'open sans', sans serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: rgb(255, 230, 247);
    padding: 20px;

}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 30px;
    height: 50px;
    padding: 0 4px;
}

form input :focus {
    outline: 50px solid var(--primary-color);
}

form button {
    border: none;
    background: rgb(255, 135, 205);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}


form button:hover {
    background: var(--primary-color-darker);

}

form button:active {
    background: #f70441
} 

.paragrafo-resultado{
    background: #7cfd9c;
    padding: 10px 20px;
}